.container_buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button {
    width: 60px;
}

.container {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}